*,* ::after,* ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin:0 !important;
  padding:0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
   width: 100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: black;
  color: white;
  
  align-items: center;
  padding: 4em 0em 4em 4em;
 
 
  
}
#editor{
  width: 30%;
  padding: 2em;
  background-color: #2e2b2b;
  color: white;
  height: 80%;
  border-radius: 2em 0 0 2em;
}
#preview{
  padding: 2em 3em;
  height: 80%;
  width:50%;
  overflow-y: scroll;
  color: black;
  background-color: aquamarine;
}